<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.egongil.numva_android_app">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 인터넷 감지 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".src.config.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity android:name=".src.edit_userinfo.view.DeleteAccountActivity"></activity>
        <activity android:name=".src.app_info.MarketingTermsActivity" />
        <activity android:name=".src.app_info.PrivacyTermsActivity" />
        <activity android:name=".src.app_info.ServiceTermsActivity" />
        <activity android:name=".src.cert_phone.PassActivity" />
        <activity android:name=".src.network.NetworkFailureActivity" />
        <activity android:name=".src.signup.SignupTermsActivity" />
        <activity android:name=".src.signup.SignupMoreInfoActivity" />
        <activity android:name=".src.signup.SignupCertActivity" />
        <activity android:name=".src.customer_center.CustomerCenterDetailActivity" />
        <activity android:name=".src.second_phone.SecondPhoneRegisterActivity" />
        <activity android:name=".src.second_phone.SecondPhoneActivity" />
        <activity android:name=".src.app_info.AppInfoActivity" />
        <activity android:name=".src.notification_setting.NotiSettingActivity" />
        <activity android:name=".src.customer_center.CustomerCenterActivity" />

        <activity
            android:name=".src.numvatalk.NumvatalkActivity"
            android:exported="false" />
        <activity
            android:name=".src.login.snslogin.SnsLoginActivity"
            android:exported="true" />
        <activity android:name=".src.login.snslogin.naverlogin.NaverLogin" />

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="${kakaoAppkey}" />

        <activity
            android:name=".src.qr_management.view.QrManagementActivity"
            android:exported="true" />
        <activity android:name=".src.edit_userinfo.view.EditUserInfoActivity" />
        <activity android:name=".src.findLogin.FindLoginActivity" />
        <activity android:name=".src.signup.SignupDoneActivity" />
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.store.StoreActivity" />
        <activity android:name=".src.qr_scan.CustomQrScanActivity" />
        <activity
            android:name=".src.qr_scan.QrScanActivity"
            android:stateNotNeeded="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity android:name=".src.qr_scan.QrScanResultActivity" />
        <activity android:name=".src.main.view.MainActivity" />
        <activity
            android:name=".src.parkingmemo.view.ParkingMemoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver
            android:name=".src.network.ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>